html, body {
  height: 100%;
  width: 100%;
  background-color: #ff361c;
  background-image: url("/static/img/login_background.jpeg");
  font-family: "Lucida Console", monospace;
}

.title {
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-family: "Brush Script MT", cursive;
  font-size: 2em;
  text-decoration: none;
  color: white;
}



.title:hover {
    cursor: pointer;
}

.form-wrapper {
  display: flex;
  position: relative;
  width: 20em;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 0.6em;
  background-color: whitesmoke;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0.5em;
  padding-bottom: 1em;
  box-shadow: black 0px 0px 0.5em 0px;
}

.form {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0.5em 1em 0em 1em;
}

.form-field {
  margin: 5px 0px;
  font-size: 1.2rem;
  width: 100%;
  transition: 0.2s ease;
}

.input-field{
  height: 2em;
  width: 99%;
  /* font-size: 1.2em; */
  border-radius: 0.1em;
  border: solid 1px black;
  background-color: #aaa;
}

.input-field:focus{
    background-color: lightgrey;
}

.form-submit {
  border: none;
  font-weight: bold;
  background-color: red;
  height: 1.6em;
  border-radius: 0.1em;
  color: whitesmoke;
}

.form-submit:hover {
  cursor: pointer;
  background-color: #d00;
}

.redirect-text {
  display: block;
  font-size: 0.85em;
  margin-top: 0.625em;
  text-decoration: none;
  margin-left: 5px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.is-invalid {
    border: solid 1px red;
}

.is-invalid:focus-visible{
    outline-color: red;
}

.password-toggle-btn {
    display: inline-block;
    position: absolute;
    z-index: 3;
    right: -3%;
    top: 56%;
    /* background: darkgrey; */
    height: 1.5em;
    /* margin: 0.1em; */
    padding: 0.1em 0.2em;
    font-size: 0.9em;
}

.invalid-feedback {
    font-size: 0.75em;
    color: red;
}

.danger-popup {
  display: block;
  /* width: 375px; */
  height: auto;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #ff2222;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  /* font-family: sans-serif; */
  color: #eee;
  border-radius: 5px;
}

.success-popup {
  display: block;
  /* width: 375px; */
  height: auto;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #239923;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  /* font-family: sans-serif; */
  color: #eee;
  border-radius: 5px;
}

.popup-text {
  /* font-size: 2em; */
  color: whitesmoke;
}