html, body {
  height: 100%;
  width: 100%;
  margin: 0px;
  background-color: #ff361c;
  font-family: "Lucida Console", monospace;
}

.home-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  /* z-index: -1; */
  background-image: url("/static/img/bj_table_background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar {
  height: 4em;
  background-color: #ee0302;
  /* overflow: hidden; */
}

.navbar-item {
  display: flex;
  height: 100%;
  padding: 0em 0.7em;
  align-items: center;
  float: left;
}

.navbar-item:hover {
  background-color: #dd0302;
}

.nav-right {
    float: right;
}

.nav-link {
    font-size: 1.2rem;
    font-weight: bold;
    color: whitesmoke;
    text-decoration: none;
}

.navbar-item: active {
    background-color: #ee3344;
}

#nav-user-profile {
    /* display: block; */
    position: relative;
    padding-right: 0.5em;
}

#nav-up-btn {
    display: flex;
    position: relative;
    z-index: 5;
    height: 100%;
    align-items: center;
}

.user-pfp {
    height: 90%;
    border-radius: 50%;
}

.dropdown {
    position: absolute;
    display: flex;
    width: auto;
    height: auto;
    flex-wrap: wrap;
    background-color: #ee0302;
    left: 0%;
    z-index: -1;
    transition: 0.4s ease;
}

.dropdown-arrow {
    margin: 0.2em;
    margin-left: 0.4em;
    font-size: x-large;
    color: whitesmoke;
    transition: 0.4s ease;
}

.dropdown-link {
    width: 100%;
    font-size: 1em;
    padding: 0.2em;
    border: solid 1px #ee0302;
    background-color: #ee0302;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    color: whitesmoke;
}

.dropdown-link:hover {
    background-color: #bb0302;
    border: solid 1px #bb0302;
}