 <!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="Blackjack online using flask framework">
    <meta name="author" content="Mat Taylor">
    <title>Mum's Casino - {{title}}</title>
    <link href="static/styles/login.css" rel="stylesheet" type="text/css">
    <link href="static/styles/common.css" rel="stylesheet" type="text/css">
    <link rel="icon" href="static/img/logo_apple_touch_icon.png" type="image/x-icon">
    <link rel="apple-touch-icon" href="static/img/logo_apple_touch_icon.png">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/6e13a45840.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.4/socket.io.js"></script>
  </head>

  <body>
    <script src="/static/scripts/login.js"></script>
    <div class="title">
      <u><h1>Mum's Casino</h1></u>
    </div>

    <div class="form-wrapper">
<!--        <strong><h2>-->
<!--            {{title}}-->
<!--        </h2></strong>-->
      <form id="form" class="form" method="POST" action="">
        {{ form.email.label }}
        {{ form.email(class="form-field") }}

      </form>

    </div>


  </body>

</html>