<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="Bootleg Cryptozoo: Bootleg version of Logan Paul's cryptozoo game">
    <meta name="author" content="Mat Taylor">
    <title>Blackjack Login</title>
    <link href="static/styles/login.css" rel="stylesheet" type="text/css">
    <!--<link rel="icon" href="static/img/the_egg.ico" type="image/x-icon">-->
    <link rel="apple-touch-icon" href="static/img/logo_apple_touch_icon.png" type="image/x-icon">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/6e13a45840.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.4/socket.io.js"></script>
  </head>
<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="Bootleg Cryptozoo: Bootleg version of Logan Paul's cryptozoo game">
    <meta name="author" content="Mat Taylor">
    <title>Bootleg CryptoZoo</title>
    <link href="static/styles/login.css" rel="stylesheet" type="text/css">
    <link rel="icon" href="static/img/the_egg.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="static/img/the_egg.ico" type="image/x-icon">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/6e13a45840.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.4/socket.io.js"></script>
  </head>
  
  <body>
    <script src="static/scripts/login.js"></script>
    <div class="title">
      
      <u><h1>Mum's Casino</h1></u>
    </div>
    <!--<div class="background">
      <img src="static/img/login_background.jpeg" alt="background" width="100%" height="100%">
    </div>-->
    <div id="signup-form-wrapper" class="form-wrapper"> 
      <form id="signup-form" class="form" method="POST">
        <bold><h2>
          Signup
        </h2></bold>
  
         <input id="signup-form-username" class="form-field"name="username" value ="" type="text" placeholder="Username" required/><br>
        <input id="signup-form-password" class="form-field" name="password" value ="" type="password" placeholder="Password" required/><br>
        <input id="signup-form-password_confirm" class="form-field" name="password" value ="" type="password" placeholder="Confirm Password" required/><br>
        <button id="signup-button" class="form-field form-btn" name="loginBtn" type="submit">Sign Up</button> <br>  
        <a href="/login" class="anchor">Already have an account? Login.</a>
      </form>
      <!-- <br> -->
      
    
    </div>
    

  </body>
   
</html>

  