html, body {
  height: 100%;
  width: 100%;
  background-color: #ff361c;
  background-image: url("/static/img/login_background.jpeg");
  font-family: "Lucida Console", monospace;
}

.background {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  /*z-index: 0;*/
  /*background-image: url("/static/img/login_background.jpeg");*/
}

.title {
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-family: "Brush Script MT", cursive;
  font-size: 2em;
  color: white;
}

.form-wrapper {
  display: flex;
  position: relative;
  width: 20em;
  height: 250px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 1em;
  background-color: whitesmoke;
  justify-content: center;
  /* flex-wrap: wrap; */
  padding: 5px;
  box-shadow: black 0px 0px 0.5em 0px;
  
  border-image: url("/static/img/suits.png") 30 round;
  /*border-image-repeat: repeat;*/
  /*border-image-slice: 5;*/
  /*border-image-width: 1em;*/
  
}

.form {
  display: block;
  position: relative;
  /* background-color: blue; */
  /* width: 100%; */
  
}

.form-field {
  margin: 5px 0px;
  font-size: 1em;
  width: 70%;
  height: 1em;
}

.form-btn {
  width: inherit;
  height: inherit;
}

.anchor {
  display: block;
  font-size: 0.85em;
  margin-top: 0.625em;
}

.anchor:hover {
  color: #333aff;
}
